@import "../../styles/variables";

.FacetPageWrapper {
  width: 100%;
  background-color: $black;
}

.FacetPage {
  margin: 0 auto;
  max-width: $max-width;
  min-height: calc(100vh - 57px - 44px);
  border-left: 2px solid $white;
  display: flex;
}

.FacetSelection {
  width: $left-width;
  border-right: 2px solid $white;
  border-left: 2px solid $white;
}

.FacetDescription {
  flex: 1;
}

.ResultCounter {
  width: 200px;
}
