@import "../../../styles/variables";

.MenuList {
  display: flex;
  justify-content: space-between;
  list-style: none;

  li {
    text-align: center;
    color: $white;
  }

  a {
    text-decoration: none;
    color: $white;
    transition: 0.5s;
    will-change: transform;
    cursor: pointer;
  }

  a:after {
    display:block;
    content: '';
    border-bottom: solid 1px $white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  a:hover:after {
    transform: scaleX(1);
  }
}

.Content {
  background-color: $form-background;
  border-bottom: 1px solid $black;

  .SubMenuWrapper {
    margin: 0 auto;
    height: 100%;
    max-width: $max-width;

    .SubMenuList {
      display: flex;
      list-style: none;
      height: 41px;
      line-height: 41px;
      align-items: center;
      margin: 0 0 0 $left-width;
      padding: 0;
      font-family: "Suisse Intl Condensed", serif;
      font-size: 18px;
      font-weight: 400;

      li {
        padding: 0 20px;
        height: 41px;
        text-align: center;
        color: $black;
        // background-color: $white;
        transition: 0.3s;
        cursor: pointer;
      }

      a {
        border-left: 1px solid $black;
      }

      a:last-child {
        border-right: 1px solid $black;
      }

      li:hover {
        background-color: $yellow;

        a {
          color: $black;
        }
      }

      a {
        text-decoration: none;
        color: $black;
      }
    }
  }
}
