@import "../../../styles/variables";

.MenuList {
  display: flex;
  justify-content: space-between;
  list-style: none;

  li {
    text-align: center;
    color: $white;
  }

  a {
    text-decoration: none;
    color: $white;
    transition: 0.5s;
    will-change: transform;
    cursor: pointer;
  }

  a:after {
    display:block;
    content: '';
    border-bottom: solid 1px $white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  a:hover:after {
    transform: scaleX(1);
  }
}

.Content {
  background-color: $button-background;

  .SubMenuWrapper {
    margin: 0 auto;
    height: 100%;
    max-width: 1180px;

    .SubMenuList {
      display: flex;
      list-style: none;
      height: 42px;
      align-items: center;
      margin: 0;
      margin-left: 265px;
      gap: 10px;
      padding: 0;
      font-family: "Suisse Intl Condensed", serif;
      font-size: 14px;
      font-weight: 400;

      li {
        text-align: center;
        color: $white;
        border: 1px solid $white;
        padding: 5px 10px;
        transition: 0.3s;
        cursor: pointer;
      }

      li:hover {
        background-color: $yellow;
        border: 1px solid $black;

        a {
          color: $black;
        }
      }

      a {
        text-decoration: none;
        color: $white;
      }
    }
  }
}
