@import "../../../styles/variables";

.MenuList {
  ul {
    display: flex;
    gap: 1px;
    list-style: none;
    height: $header-height;
    padding: 0;
    margin: 0;

    a {
      text-decoration: none;
      color: $white;
      min-width: 50px;
      // background-color: $form-background;
      display: inline-flex;
      align-items: center;

      li {
        display: flex;
        align-items: center;
        margin: 0 auto;

        img {
          filter: invert(100%) sepia(1%) saturate(4370%) hue-rotate(41deg) brightness(132%) contrast(89%);
        }
      }
    }
  }

  .MenuItem {
    span {
      color: $white;
      padding: 0 10px;
    }
  }
}