@import "../../../styles/variables";

.MenuList {
  ul {
    display: flex;
    gap: 10px;
    list-style: none;
    height: 32px;
    padding: 0;
    margin: 0;

    a {
      text-decoration: none;
      background-color: $form-background;
      color: $white;
      border-radius: 20px;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
      min-width: 32px;
      display: inline-flex;
      align-items: center;
      z-index: 9;

      .MenuItem {
        display: flex;
        align-items: center;
        margin: 0 auto;

        div {
          color: $black;
          padding: 0 5px;
          font-size: 16px;
          opacity: 1;
        }
      }

      &:hover {
        background-color: $yellow;
        border-bottom: 1px solid $black;

        .MenuItem {
          div {
            opacity: 1;
            width: auto;
          }
        }
      }
    }
  }
}