@import "../../../styles/variables";

.SearchBox {
  height: 32px;
  display: inline-flex;

  .SearchInput {
    font-family: "Suisse Intl Mono", serif;
    font-weight: 400;
    font-size: 14px;
    border: 0;
    border-radius: 0;
    padding: 0 30px 0 10px;
    height: 32px;
    width: $search-width;
  }

  .SearchInput:focus-visible {
    outline: 0;
  }

  .SearchButton {
    margin-left: 2px;
    border: 0;
    border-radius: 0;
    background-color: $white;
    height: 32px;
    width: 36px;
    font-size: 24px;
    padding-top: 3px;
    text-align: center;

    &:hover {
      cursor: pointer;
      color: $black;
      background-color: $yellow;
    }
  }

  .ClearButton {
    position: relative;
    right: 70px;
    color: $black;
    display: block;
    height: 32px;
    line-height: 38px;
    text-align: center;
    width: 31px;
  }

  .ClearButton:hover {
    cursor: pointer;
  }
}
