@import "../../../../styles/variables";

.Link {
  text-decoration: none;
}

.Button {
  height: 25px;
  background-color: $button-background;
  border-radius: 13px;
  text-align: center;
  color: $white;
  font-family: 'Suisse Intl', serif;
  font-size: 10px;
  line-height: 25px;
  padding: 0 10px;
  text-transform: uppercase;
}

.Button:hover {
  background-color: $black;
}
