@import "../../../../styles/variables";

.Button {
  width: 25px;
  height: 25px;
  border-radius: 12px;
  background-color: $button-background;
  color: $white;
  text-align: center;
}

.Button img {
  padding-top: 2px;
  margin: 0 auto;
}
