@import "../../../styles/variables";

.FacetPageWrapper {
  width: 100%;
  background-color: $black;
}

.FacetPage {
  margin: 0 auto;
  max-width: $max-width;
  min-height: calc(100vh - #{$header-height} - #{$breadcrumb-height});
  border-left: $border-width solid $white;
  display: flex;
}

.FacetSelection {
  width: $facet-width;
  border-right: $border-width solid $white;
  border-left: $border-width solid $white;

  &.Gallery {
    border-left: none;
    flex: 1;
  }
}

.FacetDescription {
  flex: 1;
}

.ResultCounter {
  width: $results-width;
}

.FacetPageWrapperGallery {
  width: 100%;
  background-color: $black;
  min-height: calc(100vh - #{$header-height} - #{$breadcrumb-height} - 36px);
  display: flex;
  flex-direction: column;

  .FacetDateGallery {
    display: flex;
    flex-direction: column;
    flex: 1;

    .FacetSelection {
      width: unset;
      border: unset;
      align-self: center;
      padding: 20px 0;
    }

    .FacetDescription {
      border-top: 1px solid $white;
      min-height: 200px;
    }
  }

  .FacetContentGallery {
    display: flex;
    flex: 1;

    .FacetSelection {
      flex: 3;
      width: unset;
      border-left: unset;
    }

    .FacetDescription {
      flex: 4;
    }
  }

  .ResultCounter {
    width: unset;
    height: 100px;
    border-top: 1px solid $white;
    padding-bottom: 20px;
  }
}