@import "../../../styles/variables";

.FacetPageWrapper {
  width: 100%;
  background-color: $black;
}

.FacetPage {
  margin: 0 auto;
  max-width: $max-width;
  min-height: calc(100vh - #{$header-height} - #{$breadcrumb-height});
  border-left: $border-width solid $white;
  display: flex;
}

.FacetSelection {
  width: $facet-width;
  border-right: $border-width solid $white;
  border-left: $border-width solid $white;
}

.FacetDescription {
  flex: 1;
}

.ResultCounter {
  width: $results-width;
}
