@import "../../../styles/variables";

.FacetValues {
  color: $white;
  width: $facet-width;
  font-family: "Suisse Intl Condensed", serif;
  font-weight: 400;
  font-size: 18px;
  height: 100%;

  .FacetValueButton {
    align-items: center;
    color: $white;
    border-bottom: 2px solid $white;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    box-sizing: border-box;

    .Value {
      padding-left: 10px;
      max-width: 220px;
    }

    .Count {
      flex-shrink: 0;
      padding-left: 2px;
      font-size: 12px;
    }

    .ButtonsWrapper {
      margin-left: auto;
      display: flex;

      .InfoButton {
        padding-top: 8px;
      }
    }

    .Button {
      width: 35px;
      height: 35px;
      transform: translate(0%, 0%) rotate(0deg);
      cursor: pointer;
      z-index: 100;
      transition: 0.8s cubic-bezier(0.2, 0.6, 0.3, 1.1);
      flex-shrink: 0;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 1px;
        width: 50%;
        background: $white;
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50%;
        width: 1px;
        background: $white;
      }
    }
  }

  .FacetValueButton:hover, .FacetValueButton.Clicked {
    cursor: pointer;
    color: $black;
    background-color: $white;

    .Button {
      &:after {
        background: $black;
      }

      &:before {
        background: $black;
      }
    }

    .RemoveButton {
      margin-left: auto;
      width: 35px;
      height: 35px;
      transform: translate(0%, 0%) rotate(0deg);
      cursor: pointer;
      z-index: 100;
      flex-shrink: 0;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 1px;
        width: 50%;
        background: $black;
      }
    }
  }
}
