@import "../../../styles/variables";

.SearchBox {
  width: $facet-width + $border-width;
  height: 36px;
  display: inline-flex;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: calc(#{$header-height} + #{$breadcrumb-height});
  z-index: 999;

  .SearchInput {
    font-family: "Suisse Intl Mono", serif;
    font-weight: 400;
    font-size: 12px;
    border: 0;
    border-radius: 0;
    padding: 0 10px;
    height: 35px;
    flex: 1;
    border-bottom: $border-width solid $white;
  }

  .SearchInput:focus-visible {
    outline: 0;
  }

  .SearchButton {
    background-color: $white;
    color: $black;
    display: block;
    height: 35px + $border-width;
    line-height: 42px;
    text-align: left;
    pointer-events: none;
    width: 29px + $border-width;
  }

  .ClearButton {
    background-color: $white;
    color: $black;
    display: block;
    height: 35px + $border-width;
    line-height: 42px;
    text-align: left;
    width: 31px;
  }

  .ClearButton:hover {
    cursor: pointer;
  }

  svg {
    padding-left: 2px;
  }
}
