@import "../../../styles/variables";

.Page {
  margin: 0 auto;

  .Header {
    display: flex;
    height: 300px;
    border-bottom: 2px solid $black;

    .HeaderData {
      flex: 1;
      padding: 20px;

      .Title {
        font-family: "Suisse Works", serif;
        font-weight: 400;
        font-size: 28px;
        margin-top: 10px;
      }

      .Buttons {
        display: inline-flex;
        gap: 6px;
        margin-top: 20px;
      }
    }

    .Thumbnail {
      width: 300px;
      display: flex;
      justify-content: right;
      align-items: center;

      div {
        display: flex;
      }
    }
  }

  .MetadataGroup {
    border-bottom: 2px solid $black;
  }

  .MetadataGroup:empty {
    display: none;
  }

  .MetadataGroup:last-child {
      border-bottom: none;
  }
}

