@import "../../../../../../styles/variables";

.Button {
  .DigitalVersion {
    .Label {
      padding-right: 10px;
    }

    .Barcode {
      padding-left: 10px;
      border-left: 1px solid $white;
      -webkit-user-select: all; /* Safari */
      -ms-user-select: all; /* IE 10 and IE 11 */
      user-select: all; /* Standard syntax */
    }
  }
}
