@import "../../../styles/variables";

.ContentIndex {
  margin: 0 auto;
  max-width: $max-width;
  min-height: calc(100vh - 213px);
  border-left: $border-width solid $black;
  border-right: $border-width solid $black;
  display: flex;
  align-items: stretch;
}

.Content {
  flex: 1;
  border-left: $border-width solid $black;
}

.ContentMobile {
  flex: 1;
}

.LatestAdditions {
  flex: 1;
  display: flex;
  min-height: 200px;
}
