@import "../../../../../../styles/variables";

.InsightsTopValuesWrapper {
  .Title {
    font-family: "Suisse Intl Condensed", serif;
    font-size: 18px;
    padding: 10px 20px;
  }

  .Tabs {
    display: flex;
    font-family: "Suisse Intl Condensed", serif;
    font-weight: 500;
    font-size: 20px;

    &.Mobile {
      font-size: 18px;

      div {
        padding: 5px 10px;
      }
    }

    div {
      color: $black;
      background-color: unset;
      border-top: 2px solid $black;
      border-right: 2px solid $black;
      border-bottom: 2px solid $black;
      padding: 10px 20px;
      cursor: pointer;
    }

    div.Active {
      color: $white;
      background-color: $black;
      border-top: 2px solid $black;
      border-bottom: none;
    }

    .TabPlaceholder {
      background-color: unset;
      flex: 1;
      border-top: none;
      border-right: none;
    }
  }
}