@import "../../../../styles/variables";

.Title {
  font-family: "Suisse Intl Condensed", serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 10px;
  background-color: $form-background;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;

  &:first-child {
    border-top: none;
  }
}

.Text {
  font-family: "Suisse Intl", serif;
  font-weight: 400;
  font-size: 16px;
  padding: 20px;

  h2 {
    font-family: "Suisse Works", serif;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
  }

  p {
    margin-top: 0;
    margin-bottom: 20px;

    &:last-child {
      margin: 0;
    }

    a {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px dotted $black;
    }
  }

  .Identifier {
    font-family: "Suisse Intl Mono", serif;
    font-weight: 400;
    font-size: 14px;
  }

  .IdentifierParts {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &.Mobile {
      align-items: flex-start;
      flex-direction: column;

      .Identifier {
        flex: 1;
        width: unset;
      }
    }

    .Identifier {
      width: 200px;
    }
  }
}

.UnitButtonsWrap {
  display: flex;
  align-items: center;
  justify-content: center;

  &.Mobile {
    flex-direction: column;
  }

  .UnitButton {
    height: 25px;
    background-color: $background;
    border: 1px solid $black;
    border-radius: 13px;
    text-align: center;
    color: $black;
    font-family: 'Suisse Intl', serif;
    font-size: 10px;
    line-height: 25px;
    padding: 0 10px;
    text-transform: uppercase;
    display: inline-block;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    span {
      display: inline-flex;
      align-items: center;
      gap: 5px;
    }
  }

  .Arrow {
    padding: 4px 10px 0 10px;
  }
}

.ButtonWithText {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &.Mobile {
    display: block;
    margin-bottom: 20px;
  }

  div {
    width: 200px;
    display: flex;
    align-items: flex-start;

    img {
      margin: 0;
    }
  }

  p {
    flex: 1;
  }
}

.BadgeExplanation {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &.Mobile {
    align-items: unset;
    flex-direction: column;
  }

  .Badges {
    width: 300px
  }

  p {
    flex: 1;
  }
}

.ShowButton {
  display: inline-block;
  border: 1px solid $black;
  height: 44px;
  line-height: 44px;
  border-radius: 22px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  background-color: $white;
  font-family: "Suisse Intl", serif;
  width: 170px;


  &:hover {
    cursor: pointer;
    background-color: $yellow;
  }
}