@import "../../../styles/variables";

.FacetValues {
  color: $white;
  width: 100%;
  font-family: "Suisse Intl Condensed", serif;
  font-weight: 400;
  font-size: 18px;

  .ValueWrapper {
    align-items: center;
    color: $black;
    border-bottom: $border-width solid $black;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    background-color: $form-background;
    box-sizing: border-box;

    &.Selected {
      background-color: $white;
    }

    .LinkWrapper {
      flex: 1;
    }

    .Value {
      padding-left: 10px;
      padding-right: 10px;
    }

    .Count {
      flex-shrink: 0;
      padding-left: 2px;
      font-size: 12px;
    }

    .InfoButton {
      width: 50px;
      height: 100%;
      line-height: 40px;
      padding-right: 12px;
      text-align: right;
    }

    .Button {
      margin-left: auto;
      width: 35px;
      height: 35px;
      transform: translate(0%, 0%) rotate(0deg);
      cursor: pointer;
      z-index: 100;
      transition: 0.8s cubic-bezier(0.2, 0.6, 0.3, 1.1);
      flex-shrink: 0;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 1px;
        width: 50%;
        background: $black;
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50%;
        width: 1px;
        background: $black;
      }
    }

    &:hover, &.Clicked {
      cursor: pointer;
      color: $black;
      background-color: $white;

      .Button {
        &:after {
          background: $black;
        }

        &:before {
          background: $black;
        }
      }

      .RemoveButton {
        margin-left: auto;
        width: 35px;
        height: 35px;
        transform: translate(0%, 0%) rotate(0deg);
        cursor: pointer;
        z-index: 100;
        flex-shrink: 0;

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 1px;
          width: 50%;
          background: $black;
        }
      }
    }
  }
}
