@import "../../../styles/variables";

.FacetPageWrapper {
  width: 100%;
  background-color: $black;
}

.FacetPage {
  margin: 0 auto;
  max-width: $max-width;
  min-height: calc(100vh - #{$header-height-mobile} - #{$breadcrumb-height});
  background-color: $black;
  display: flex;
  flex-direction: column;

  .Facets {
    width: 100%;
    font-family: "Suisse Intl Condensed", serif;
    font-weight: 400;
    font-size: 18px;
    color: $white;
    border-right: none  ;

    .FacetGroup {
      height: 40px;
      border-bottom: 2px solid $white;
      font-size: 16px;
      line-height: 35px;
      box-sizing: border-box;

      span {
        padding-left: 10px;
      }

      div {
        float: right;
      }

      .Button {
        position: relative;
        top: 17px;
        right: -10px;
        width: 30px;
        height: 30px;
        transform: translate(-50%, -50%) rotate(0deg);
        cursor: pointer;
        transition: 0.8s cubic-bezier(0.2, 0.6, 0.3, 1.1);

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 1px;
          width: 50%;
          background: $white;
        }

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 50%;
          width: 1px;
          background: $white;
        }
      }

      &.Selected {
        color: $white;
        background-color: $black;
        border-bottom: 2px solid $white;

        .Button {
          &:after {
            background: $white;
          }

          &:before {
            width: 0;
            background: $white;
          }
        }
      }
    }
  }
}

.FacetSelection {
  width: $left-width;
  border-right: 2px solid $white;
  border-left: 2px solid $white;
}

.FacetDescription {
  flex: 1;
}

.ResultCounter {
  width: 100%;
  height: $result-counter-height-mobile;
  margin-bottom: 10px;
}

.Drawer {
  align-self: flex-start;
  left: 0;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: $black;
  position: fixed;
  z-index: 20;
  transition: left 0.5s ease;

  &.Closed {
    left: -100vw;
  }

  .Window {
    margin-bottom: 20px;
    max-height: 100vh;
    overflow-y: scroll;

    .CloseButton {
      position: absolute;
      top: 12px;
      right: 10px;
      width: 20px;
      height: 20px;
      color: $white;
      z-index: 999;

      span {
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: $white;
        left: 0;
      }

      span:nth-child(1) {
        top: 10px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      span:nth-child(2) {
        top: 10px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
}