@import "../../styles/variables";

.AlertWrapper {
  color: $black;
  background-color: $yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.03);
  border: 2px solid $black;
  padding: 10px;
  font-family: "Suisse Intl Condensed", serif;
  font-size: 18px;
  font-weight: 400;

  span {
    margin-left: 10px;
  }

  .Button {
    margin-left: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: $black;
    padding-top: 4px;
  }
}
