@import "../../../../../../../styles/variables";

.PDFViewerFullScreen {
  flex: 1;
  overflow: hidden;
  border-top: $border-width solid $black;
  height: 100%;

  :global .rpv-core__inner-page {
    background-color: $button-background;
  }
}

.PDFViewer {
  flex: 1;
  overflow: hidden;
  border: unset;
  height: 464px;

  :global .rpv-default-layout__container {
    border: unset;
    border-top: $border-width solid $black;
  }

  :global .rpv-default-layout__toolbar {
    border-bottom: $border-width solid $black;
    z-index: 1;
  }

  :global .rpv-core__doc-loading {
    background-color: $button-background;
  }

  :global .rpv-core__inner-page {
    background-color: $button-background;
  }
}

.Loader {
  color: $black;
  font-family: "Suisse Intl Condensed", serif;
  font-size: 18px;
}

.ToolBarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35px;
  border-top: $border-width solid $black;
  font-family: "Suisse Intl Condensed", serif;
  font-size: 12px;
  background-color: $background;

  .ToolBar {
    align-items: center;
    display: flex;
    height: 100%;

    .Divider {
      background-color: $black;
      width: 2px;
      height: 70%;
    }

    .PageInputBox {
      :global .rpv-core__textbox {
        border: 1px solid $button-background;
        border-radius: 0;
        height: 25px;
        width: 50px;
        text-align: center;
      }
    }

    :global .rpv-core__popover-body-arrow {
      background-color: $background;
      border-right: 1px solid $black;
      border-bottom: 1px solid $black;
      border-radius: 0;
      top: -1px;
      left: 5px;
    }

    :global .rpv-core__popover-body {
      padding: 20px;
      background-color: $background;
      border: 1px solid $black;
    }

    :global .rpv-search__popover-input-counter {
      display: flex;
      gap: 10px;
      margin-bottom: 5px;
      align-items: center;
    }

    :global .rpv-search__popover-label {
      display: inline-flex;
      align-items: center;
    }

    :global .rpv-search__popover-footer {
      display: flex;
      margin-top: 30px;
    }

    :global .rpv-search__popover-footer-button {
      flex: 1;
      text-align: right;
    }

    :global .rpv-core__button {
      cursor: pointer;
      height: 25px;
      background-color: #000000;
      border-radius: 13px;
      text-align: center;
      color: #FFF;
      font-family: "Suisse Intl", serif;
      font-size: 10px;
      line-height: 25px;
      padding: 0 10px;
      text-transform: uppercase;
      display: inline-block;
      -webkit-user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      user-select: none;

      &:hover {
        color: $black;
        background-color: $yellow;
      }
    }

    :global .rpv-core__tooltip-body {
      font-family: "Suisse Intl", serif;
    }

    :global .rpv-search__popover-label-checkbox {
      accent-color: $black;
    }

    :global .rpv-core__textbox {
      border: 1px solid $button-background;
      border-radius: 0;
      height: 25px;

      &:focus-visible {
        outline: unset;
        border: 2px solid $black;
      }
    }
  }

  .Button {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    margin: 0 5px;
    background-color: $black;
    color: $white;

    &:hover {
      color: $black;
      background-color: $yellow;
    }
  }

  .Button.Disabled {
    background-color: $button-background;
    pointer-events: none;
  }

  .ZoomIn {
    &::after {
      content: ' ';
      position: absolute;
      width:25px;
      height:25px;
      background: linear-gradient(#FFF 0 0), linear-gradient(#FFF 0 0);
      background-position:center;
      background-size: 50% 1px,1px 50%; /*thickness = 2px, length = 50% (25px)*/
      background-repeat:no-repeat;

    }

    &:hover::after {
      background: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
      background-position:center;
      background-size: 50% 1px,1px 50%; /*thickness = 2px, length = 50% (25px)*/
      background-repeat:no-repeat;
    }
  }

  .ZoomOut {
    &::after {
      content: ' ';
      position: absolute;
      width:25px;
      height:25px;
      background: linear-gradient(#FFF 0 0);
      background-position:center;
      background-size: 50% 1px,1px 50%; /*thickness = 2px, length = 50% (25px)*/
      background-repeat:no-repeat;

    }

    &:hover::after {
      background: linear-gradient(#000 0 0);
      background-position:center;
      background-size: 50% 1px,1px 50%; /*thickness = 2px, length = 50% (25px)*/
      background-repeat:no-repeat;
    }
  }

  .Previous {
    &::after, &::before {
      position: relative;
      content: "";
      display: block;
      box-sizing: border-box;
    }

    &::after {
      width: 8px;
      height: 8px;
      border-bottom: 1px solid;
      border-left: 1px solid;
      transform: rotate(45deg);
      top: 8px;
      left: 5px;
    }

    &::before {
      width: 16px;
      height: 1px;
      top: 12px;
      left: 5px;
      background: currentColor;
    }

    &:hover::after {
      border-bottom: 1px solid $black;
      border-left: 1px solid $black;
    }

    &:hover::before {
      background: $black;
    }
  }

  .Next {
    &::after, &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: relative;
    }

    &::after {
      width: 8px;
      height: 8px;
      border-top: 1px solid;
      border-right: 1px solid;
      transform: rotate(45deg);
      top: 8px;
      left: 12px;
    }

    &::before {
      width: 16px;
      height: 1px;
      top: 12px;
      left: 4px;
      background: currentColor
    }

    &:hover::after {
      border-top: 1px solid $black;
      border-right: 1px solid $black;
    }

    &:hover::before {
      background: $black;
    }
  }

  .FullScreen {
    font-size: 18px;
    display: flex;

    span {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .Search {
    font-size: 18px;
    display: flex;

    span {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
