@import "../../../../../../styles/variables";

// IIIF Viewer in a window
.IIIFViewer {
  position: relative;
  border-top: $border-width solid $black;

  :global .osrv-top-row-wrapper {
    display: none;
  }

  :global div[data-testid="toolbar-container"] {
    top: 0;
  }

  :global div[data-testid="toolbar-wrapper"] {
    position: relative;
  }

  &.Gallery {
    border-top: unset;
    border-bottom: $border-width solid $black;

    :global .openseadragon-container .navigator {
      display: none !important;
    }
  }

  &.FullScreen {
    border: 0;
    padding: 0;
    margin: 0;

    :global .openseadragon-container .navigator {
      display: block !important;
    }
  }

  .FullScreenButton {
    cursor: pointer;
    position: absolute;
    z-index: 12;
    bottom: 20px;
    right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    background-color: $black;

    svg {
      padding-top: 5px;
      padding-left: 5px;
      fill: $white;
    }

    &:hover {
      background-color: $yellow;

      svg {
        fill: $black;
      }
    }
  }

  &.Mobile {
    height: 300px;

    :global div[data-testid="toolbar-container"] {
      padding-right: 0;
    }
  }
}


