@import "../../../../styles/variables";

.Info {
  font-family: "Suisse Intl", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 0;

  h1 {
    padding: 0;
    font-family: "Suisse Intl Condensed", serif;
    font-size: 26px;
    font-weight: 400;
    margin-top: 0;
  }

  .Header {
    min-height: 50px;
    background-color: $form-background;
    border-bottom: 1px solid $black;
    display: flex;
    align-items: center;
    padding: 0 20px;

    .ActionButtons {
      display: flex;
      gap: 10px;

    }
  }

  .InfoText {
    font-family: 'Suisse Intl', serif;
    font-weight: 400;
    font-size: 16px;
    padding: 5px 20px 20px 20px;
    text-align: left;
    //max-height: calc(100vh - #{$header-height} - #{$breadcrumb-height} - 51px);
    //overflow-y: auto;

    h1 {
      padding: 10px 0;
      margin: 0;
    }

    p {
      margin-bottom: 20px;
    }
  }
}