@import "../../../../styles/variables";

.NotActive {
  opacity: .1;
  //color: $form-background;
}

.Fonds {
  display: flex;
  min-height: 30px;
  transition: 0.3s ease;

  .Spacer {
    display: none;
  }

  .Opener, .Line {
    background-image: url("/icons/TreeLineBg.svg");
    background-repeat: repeat-y;
  }
}

.FondsLast {
  display: flex;
  min-height: 30px;
  transition: 0.3s ease;

  .Spacer {
    display: none;
  }
}

.FondsSubfonds {
  display: flex;
  transition: 0.3s ease;

  .Opener, .Line {
    background-image: url("/icons/TreeLineBg.svg");
    background-repeat: repeat-y;
  }
}

.FondsSubfondsLast {
  display: flex;
  transition: 0.3s ease;
}

.FondsLastSubfonds {
  display: flex;
  transition: 0.3s ease;

  .Opener, .Line {
    background-image: url("/icons/TreeLineBg.svg");
    background-repeat: repeat-y;
  }

  .Spacer {
    background-image: none;
  }
}

.FondsLastSubfondsLast {
  display: flex;
  transition: 0.3s ease;

  .Spacer {
    background-image: none;
  }
}

.FondsLastSubfondsLastSeries {
  display: flex;
  transition: 0.3s ease;

  .Spacer {
    width: 60px;
    background-image: none;
  }

  .Opener, .Line {
    background-image: url("/icons/TreeLineBg.svg");
    background-repeat: repeat-y;
  }
}

.FondsLastSubfondsLastSeriesLast {
  display: flex;
  transition: 0.3s ease;

  .Spacer {
    width: 60px;
    background-image: none;
  }
}

.FondsLastSubfondsSeries {
  display: flex;
  transition: 0.3s ease;

  .Opener, .Line {
    background-image: url("/icons/TreeLineBg.svg");
    background-repeat: repeat-y;
  }

  .Spacer {
    width: 60px;
    background-image: url("/icons/TreeFondsLastSeriesBg.svg");
  }
}

.FondsLastSubfondsSeriesLast {
  display: flex;
  transition: 0.3s ease;

  .Spacer {
    width: 60px;
    background-image: url("/icons/TreeFondsLastSeriesBg.svg");
  }
}

.FondsSeries {
  display: flex;
  transition: 0.3s ease;

  .Opener, .Line {
    background-image: url("/icons/TreeLineBg.svg");
    background-repeat: repeat-y;
  }
}

.FondsSeriesLast {
  display: flex;
  transition: 0.3s ease;
}

.FondsLastSeries {
  display: flex;
  transition: 0.3s ease;

  .Opener, .Line {
    background-image: url("/icons/TreeLineBg.svg");
    background-repeat: repeat-y;
  }

  .Spacer {
    background-image: none;
  }
}

.FondsLastSeriesLast {
  display: flex;
  transition: 0.3s ease;

  .Spacer {
    background-image: none;
  }
}

.FondsSubfondsSeries {
  display: flex;
  transition: 0.3s ease;

  .Spacer {
    width: 60px;
    background-image: url("/icons/TreeSeriesBg.svg");
  }

  .Opener, .Line {
    background-image: url("/icons/TreeLineBg.svg");
    background-repeat: repeat-y;
  }
}

.FondsSubfondsSeriesLast {
  display: flex;
  transition: 0.3s ease;

  .Spacer {
    width: 60px;
    background-image: url("/icons/TreeSeriesBg.svg");
  }
}

.FondsSubfondsLastSeries {
  display: flex;
  transition: 0.3s ease;

  .Spacer {
    flex-shrink: 0;
    width: 60px;
  }

  .Opener, .Line {
    background-image: url("/icons/TreeLineBg.svg");
    background-repeat: repeat-y;
  }
}

.FondsSubfondsLastSeriesLast {
  display: flex;
  transition: 0.3s ease;
  
  .Spacer {
    flex-shrink: 0;
    width: 60px;
  }
}

.Spacer {
  flex-shrink: 0;
  background-image: url("/icons/TreeLineBg.svg");
  background-repeat: repeat-y;
  width: 30px;
}

.IconOpen {
  width: 30px;
  flex-shrink: 0;
  background-image: url("/icons/TreeLineBg.svg");
  background-repeat: repeat-y;

  img {
    background-color: $background
  }
}

.IconClosed {
  width: 30px;
  flex-shrink: 0;
}

.Line {
  width: 30px;
  flex-shrink: 0;
}

.Opener {
  width: 30px;
  flex-shrink: 0;

  :hover {
    cursor:pointer;
  }
}

.Title {
  line-height: 30px;
  padding: 0 5px;

  .ReferenceCode {
    flex-shrink: 0;
    line-height: 30px;
  }

  .ArchivalUnitTitle {
    padding: 0 5px;
  }
}

.Title:hover {
  cursor: pointer;
}

.Selected .Title {
  cursor: pointer;
  background-color: $yellow;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
