@import "../../../styles/variables";

.Footer {
  width: 100%;
  height: $footer-height-mobile;
  background-color: $black;
  font-family: 'Suisse Intl Condensed', serif;
  font-weight: 500;
  font-size: 12px;
  color: $white;

  .FooterInstiution {
    display: block;
    padding: 15px;
  }

  .FooterContent {
    display: flex;
    gap: 5px;
    padding: 0 15px 15px 15px;

    ul {
      flex: 1;
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        color: $white;
        margin-bottom: 15px;
      }
    }
  }
}
