.Description {
  flex: 1;
  display: flex;

  .Label {
    font-family: 'Suisse Works', serif;
    font-weight: 500;
    width: 150px;
  }

  .Value {
    flex: 1;
  }
}

@media (max-width: 1000px) {
  .Description {
    display: block;
    margin-bottom: 10px;

    .Label {
      font-family: 'Suisse Works', serif;
      font-weight: 500;
      width: 140px;
    }
  }

}
