@import "../../../../styles/variables";

.SeriesSearch {
  padding: 0 10px;
  height: 50px;
  background-color: $form-background;
  border-bottom: 2px solid $black;
  display: flex;
  align-items: center;
  gap: 10px;

  &.Mobile {
    padding: 10px 10px 0 10px;
    flex-direction: column;
    height: unset;
  }
}

.RecordsWrapper {

}

.Record:first-child {
  border-top: none;
}

.Record {
  display: flex;
  align-items: center;
  border-top: 2px solid $black;
  font-family: "Suisse Intl", serif;
  font-size: 16px;
  box-sizing: border-box;

  &.Mobile {
    position: relative;
    display: block;
    padding: 10px;

    .CallNumber {
      width: 100%;
      text-align: left;
      padding: 0 0 5px 0;
    }

    .ContainerType {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $background;
    }

    .Data {
      padding: 0;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .CartButton {
    width: 80px;
    text-align: center;
  }

  .ContainerType {
    font-family: "Suisse Intl Condensed", serif;
    font-size: 14px;
    width: 150px;
    text-align: left;
    align-self: flex-start;
    border-bottom: 2px solid $black;
    border-left: 2px solid $black;

    span {
      padding-left: 10px;
      line-height: 22px;
      width: 100%;
      color: $black;
    }
  }

  .CallNumber {
    min-width: 170px;
    padding: 10px 20px 10px 0;
    text-align: center;
  }

  .Data {
    flex: 1;
    padding: 10px 10px 10px 0;

    .Title {
      font-family: "Suisse Works", serif;
      font-size: 16px;
      font-weight: 500;

      span {
        font-weight: 400;
      }

      em {
        background: url('/images/highlight-brush.svg');
        margin: -2px -6px;
        padding: 2px  6px;
        font-style: normal;
      }
    }

    .Description:not(:empty) {
      margin-top: 10px;

      em {
        background: url('/images/highlight-brush.svg');
        margin: -2px -6px;
        padding: 2px  6px;
        font-style: normal;
      }
    }

    .Info:not(:empty) {
      margin-top: 10px;
      font-family: "Suisse Intl Condensed", serif;
      font-size: 14px;
    }

    .Buttons:not(:empty) {
      display: flex;
      gap: 5px;
      margin-top: 10px;
      flex-wrap: wrap;
    }
  }
}

.InContainer {
  border-top: 2px solid $form-background;
}

.MoreButtonWrapper {
  text-align: center;
  padding-bottom: 20px;

  .MoreButton {
    margin: 5px auto 0 auto;
    width: 150px;
    height: 35px;
    line-height: 35px;
    border-radius: 18px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    color: $white;
    background-color: $black;
    font-family: "Suisse Intl", serif;

    &:hover {
      color: $black;
      cursor: pointer;
      background-color: $yellow;
    }
  }
}
