@import "../../../../styles/variables";

.BadgePageWrapper {
    h1 {
        font-family: "Suisse Intl Condensed", serif;
        font-size: 22px;
        font-weight: 400;
        padding: 0 15px;
        margin-top: 15px;
        margin-bottom: 0;
    }
}

.BadgeWrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 10px;
    row-gap: 10px;
    column-gap: 10px;
}

.Badge {
    flex: 1 0 auto;
    align-self: stretch;
    display: flex;
    align-items:center;
    font-family: "Suisse Intl", serif;
    font-weight: 300;
    padding: 0 20px;
    //color: $white;
    color: $black;
    text-align: center;
    //background-color: $black;
    background-color: $form-background;
    border-radius: 200px;
    transition: 0.1s;
    border: $border-width solid $black;

    &:hover {
        cursor: pointer;
        color: $black;
        background-color: $yellow;
    }

    span {
        width: 100%;
        text-align: center;
    }
}
