@import "../../../../styles/variables";

$duration: 50s;

@-webkit-keyframes tickerh {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-1050%, 0, 0);
    transform: translate3d(-1050%, 0, 0);
  }
}

@keyframes tickerh {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-1050%, 0, 0);
    transform: translate3d(-1050%, 0, 0);
  }
}

.StatisticsWrapper {
  overflow: hidden;
  height: 50px;
  padding-left: 100%;
  border-bottom: $border-width solid $black;

  .StatisticsMove {
    display: inline-flex;
    justify-content: left;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: tickerh;
    animation-name: tickerh;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;

    &:hover {
      animation-play-state: paused;
    }

    .ScrollItem {
      font-family: "Suisse Intl Condensed", serif;
      font-weight: 400;
      font-size: 20px;
      border-right: $border-width solid $black;
      flex-shrink: 0;
      box-sizing: border-box;
      height: 50px;
      line-height: 50px;
      text-align: center;
      color: $black;
      background-color: $form-background;

      a {
        color: inherit;
        text-decoration: none;
      }

      .ScrollItemDivider {
        padding: 15px;
        background-color: $black;
        color: $white;
        text-transform: uppercase;
      }

      .ReferenceCode {
        padding: 15px 10px 15px 15px;
      }

      .Title {
        padding: 15px 15px 15px 0;
      }

      .Date {
        padding-left: 10px;
        padding-right: 15px;
        font-size: 14px;
      }
    }
  }
}