@import "../../../styles/variables";

.HighlightsWrapper {
  margin-top: 20px;
  font-family: 'Suisse Intl Mono', serif;
  font-size: 12px;

  .HighlightsValueWrapper {
    .Label {
      text-transform: uppercase;
    }

    .Value {
      flex: 1;

      em {
        background: url('/images/highlight-brush.svg');
        margin: -2px -6px;
        padding: 2px  6px;
        font-style: normal;
      }
    }
  }
}