@import "../../../../styles/variables";

.Row {
  display: flex;
  padding: 10px 20px;
  border-bottom: $border-width solid $form-background;

  .Category {
    font-family: "Suisse Intl Condensed", serif;
    font-size: 18px;
    width: 350px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .Label {
    font-family: "Suisse Works", serif;
    font-size: 16px;
    font-weight: 500;
    width: 190px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .Value {
    font-family: "Suisse Intl", serif;
    font-size: 16px;
    flex: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    a {
      color: $black;
      text-decoration: underline;
    }
  }

  &.Mobile {
    padding: 5px 10px;
    gap: 5px;

    .Category {
      width: 100px;
      flex-shrink: 0;
    }

    .ValueWrapper {
      flex: 1;

      .Label {
        width: 100%;
        padding: 0;
      }
    }
  }
}

.Row:not(:first-child) {
  .Category {
    visibility: hidden;
    width: 350px;
  }

  &.Mobile {
    .Category {
      width: 100px;
      flex-shrink: 0;
    }
  }
}

.Row:last-child {
  border-bottom: none;
}

