@import "../../../../styles/variables";

.Link {
  text-decoration: none;
}

.Button, .ButtonWithLink {
  height: 25px;
  background-color: $button-background;
  border-radius: 13px;
  text-align: center;
  color: $white;
  font-family: 'Suisse Intl', serif;
  font-size: 10px;
  line-height: 25px;
  padding: 0 10px;
  text-transform: uppercase;
  display: inline-block;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  span {
    display: inline-flex;
    align-items: center;
    gap: 5px;
  }
}

.ButtonWithLink:hover {
  background-color: $black;
}

.ButtonWithAction {
  cursor: pointer;
  height: 25px;
  background-color: $black;
  border-radius: 13px;
  text-align: center;
  color: $white;
  font-family: 'Suisse Intl', serif;
  font-size: 10px;
  line-height: 25px;
  padding: 0 10px;
  text-transform: uppercase;
  display: inline-block;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  span {
    display: inline-flex;
    align-items: center;
    gap: 5px;
  }
}

.ButtonWithAction:hover {
  background-color: $yellow;
  color: $black;
}

.Disabled {
  cursor: not-allowed;
  background-color: $button-background;
  pointer-events: none;
}



