@import "../../styles/variables";

.ContentIndex {
  margin: 0 auto;
  max-width: $max-width;
  min-height: calc(100vh - 213px);
  border-left: 2px solid $black;
  border-right: 2px solid $black;
  display: flex;
  align-items: stretch;
}

.Content {
  flex: 1;
  border-left: 2px solid $black;
}

.ContentMobile {
  flex: 1;
}
