@import "../../styles/variables";

.ContentSearch {
  margin: 0 auto;
  max-width: $max-width;
  min-height: calc(100vh - 217px);
  border-left: 2px solid $black;
  border-right: 2px solid $black;
  display: flex;
}

.Content {
  flex: 1;
  border-left: 2px solid $black;
}

.ContentMobile {
  flex: 1;
  overflow: scroll;
}
