.Tree {
  font-family: 'Suisse Intl', serif;
  font-weight: 400;
  font-size: 16px;
  margin: 15px 20px;

  .Fonds {
    display: flex;
    min-height: 30px;
  }

  .Subfonds {
    display: flex;
  }

  .Series {
    display: flex;
  }
}