.Tree {
    font-family: 'Suisse Intl', serif;
    font-weight: 400;
    font-size: 16px;
    padding: 15px 20px;

    :global .rc-tree {
        .rc-tree-treenode {
            line-height: 30px;
            min-height: 30px;

            .rc-tree-node-content-wrapper {
                min-height: 30px;
            }
        }

        .rc-tree-title {
            vertical-align: top;
        }
    }

    .TreeNodeFonds {
        :global span.rc-tree-switcher.rc-tree-switcher_open,
        :global span.rc-tree-switcher.rc-tree-switcher_close
        {
            width: 20px;
            height: 30px;
            margin: 0;
            background-position: unset !important;
            vertical-align: top;
        }

        :global span.rc-tree-switcher.rc-tree-switcher_open {
            background-image: url("/icons/TreeMinus.svg");
        }

        :global span.rc-tree-switcher.rc-tree-switcher_close {
            background-image: url("/icons/TreePlus.svg");
        }

        :global span.rc-tree-iconEle.rc-tree-icon__open {
            width: 30px;
            height: 30px;
            background-position: unset !important;
            background-image: url("/icons/TreeBoxOpen.svg");
        }

        :global span.rc-tree-iconEle.rc-tree-icon__close {
            width: 30px;
            height: 30px;
            background-position: unset !important;
            background-image: url("/icons/TreeBoxClosed.svg");
        }
    }

    .TreeNodeSubfonds {
        :global span.rc-tree-indent {
            width: 30px;
            height: 100%;
            display: inline-block;
            vertical-align: top;
            background-image: url("/icons/TreeLineBg.svg");
            background-repeat: repeat-y;
        }

        :global span.rc-tree-switcher.rc-tree-switcher_open,
        :global span.rc-tree-switcher.rc-tree-switcher_close
        {
            width: 20px;
            height: 30px;
            margin: 0;
            background-position: unset !important;
            vertical-align: top;
        }

        :global span.rc-tree-switcher.rc-tree-switcher_open {
            background-image: url("/icons/TreeMinus.svg");
        }

        :global span.rc-tree-switcher.rc-tree-switcher_close {
            background-image: url("/icons/TreePlus.svg");
        }

        :global span.rc-tree-iconEle.rc-tree-icon__open {
            width: 30px;
            height: 30px;
            background-position: unset !important;
            background-image: url("/icons/TreeBoxOpen.svg");
        }

        :global span.rc-tree-iconEle.rc-tree-icon__close {
            width: 30px;
            height: 30px;
            background-position: unset !important;
            background-image: url("/icons/TreeBoxClosed.svg");
        }
    }

    .TreeNodeSubfonds:global.rc-tree-treenode-leaf-last {
        :global span.rc-tree-switcher.rc-tree-switcher_close {
            background-image: url("/icons/TreePlusLast.svg");
        }

        :global span.rc-tree-switcher.rc-tree-switcher_open {
            background-image: url("/icons/TreeMinusLast.svg");
        }
    }

    .TreeNodeSeries {
        :global span.rc-tree-indent {
            width: 60px;
            height: 100%;
            display: inline-block;
            background-image: url("/icons/TreeLineBg.svg");
            background-repeat: repeat-y;
            vertical-align: top;
        }

        :global span.rc-tree-switcher.rc-tree-switcher-noop {
            width: 20px;
            height: 30px;
            margin: 0;
            background-position: unset !important;
            background-image: url("/icons/TreeSeriesOpen.svg");
            vertical-align: top;
        }

        :global span.rc-tree-iconEle.rc-tree-icon__docu {
            width: 30px;
            height: 30px;
            background-position: unset !important;
            background-image: url("/icons/TreeFolder.svg");
            vertical-align: top;
        }
    }

    .TreeNodeSeries:global.rc-tree-treenode-leaf-last {
        :global span.rc-tree-switcher.rc-tree-switcher-noop {
            background-image: url("/icons/TreeSeriesLast.svg");
        }
    }

    .TreeNodeSeriesWithoutSubfonds {
        :global span.rc-tree-indent {
            width: 30px;
            height: 100%;
            display: inline-block;
            background-image: url("/icons/TreeLineBg.svg");
            background-repeat: repeat-y;
            vertical-align: top;
        }

        :global span.rc-tree-switcher.rc-tree-switcher-noop {
            width: 20px;
            height: 30px;
            margin: 0;
            background-position: unset !important;
            background-image: url("/icons/TreeSeriesOpen.svg");
            vertical-align: top;
        }

        :global span.rc-tree-iconEle.rc-tree-icon__docu {
            width: 30px;
            height: 30px;
            background-position: unset !important;
            background-image: url("/icons/TreeFolder.svg");
        }
    }

    .TreeNodeSeriesWithoutSubfonds:global.rc-tree-treenode-leaf-last {
        :global span.rc-tree-switcher.rc-tree-switcher-noop {
            background-image: url("/icons/TreeSeriesLast.svg");
        }
    }

    .TreeNodeValue {
        display: inline-block;
    }

    .TreeNodeReferenceCode {
        margin-right: 5px;
    }

    .TreeNodeTitle {

    }
}



