@import "../../../../styles/variables";

.MetadataWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 10px;
  overflow-y: auto;
  height: 70px;
  background-color: $background;
  border-bottom: 1px solid $black;

  .Data {
    flex: 1;
    font-family: "Suisse Intl Condensed", serif;
    font-weight: 400;
    font-size: 16px;
  }

  .Row {
    padding: 10px;
    border-bottom: 1px solid #bfbfbf;

    .RefCodeWithLink {
      display: flex;
    }

    .Label {
      font-family: Suisse Works,serif;
      font-size: 16px;
      font-weight: 500;
      width: 200px;
      padding-right: 20px;
    }

    .Data {
      flex: 1;
      font-family: Suisse Intl,serif;
      font-size: 16px;
    }
  }
}