@import "../../../../styles/variables";

.Page {
  margin: 0 auto;

  .Header {
    display: flex;
    height: 200px;

    &.Mobile {
      height: unset;
    }

    .HeaderData {
      flex: 1;
      padding: 20px;

      &.Mobile {
        padding: 10px 10px 20px 10px;
      }

      .Title {
        font-family: "Suisse Works", serif;
        font-weight: 400;
        font-size: 28px;
        margin-top: 10px;
      }

      .Buttons {
        display: inline-flex;
        gap: 6px;
        margin-top: 20px;
        flex-wrap: wrap;
      }

      .Divider {
        border-left: 1px solid $button-background;
        margin-left: 4px;
        padding-right: 0px;
      }
    }

    .Thumbnail {
      width: 300px;
      display: flex;
      justify-content: right;
      align-items: center;

      div {
        display: flex;
      }
    }
  }

  .MetadataGroup {
    border-bottom: $border-width solid $black;
  }

  .MetadataGroup:empty {
    display: none;
  }

  .MetadataGroup:last-child {
    border-bottom: none;
  }

  .Tabs {
    display: flex;
    font-family: "Suisse Intl Condensed", serif;
    font-weight: 500;
    font-size: 20px;

    &.Mobile {
      font-size: 18px;

      div {
        padding: 5px 10px;
      }
    }

    div {
      color: $black;
      background-color: unset;
      border-top: $border-width solid $black;
      border-right: $border-width solid $black;
      border-bottom: $border-width solid $black;
      padding: 10px 20px;
      cursor: pointer;
    }

    div.Active {
      color: $white;
      background-color: $black;
      border-top: $border-width solid $black;
      border-bottom: none;
    }

    .TabPlaceholder {
      background-color: unset;
      flex: 1;
      border-top: none;
      border-right: none;
    }
  }
}

