@import "../../../../../styles/variables";

.InsightsWrapper {
  display: flex;
  min-height: 200px;

  .Distributions {
    min-height: 200px;
    border-bottom: $border-width solid $data-line;
  }
}