@import "../../styles/variables";

.BreadcrumbWrapper {
  border-top: 2px solid $black;
  border-bottom: 2px solid $black;
  background-color: $background;
}

.BreadcrumbContent {
  font-family: 'Suisse Intl Condensed', serif;
  font-weight: 500;
  margin: 0 auto;
  height: 100%;
  max-width: $max-width;
  display: flex;
  min-height: 40px;
}

.Navigation {
  display: inline-flex;
  font-size: 12px;
  width: $left-width + 2px;
  margin-top: 12px;

  span {
    margin-right: 3px;
  }

  svg {
    width: 14px;
    height: 14px;
  }
}

.SearchText {
  display: inline-flex;
  font-size: 12px;
  flex: 1;
  margin-top: 12px;

  span {
    margin-right: 2px;
  }

  svg {
    width: 14px;
    height: 14px;
  }
}

.SelectedFacets {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  margin-top: 8px;

  .SelectedFacetButton {
    border-radius: 11px;
    color: $white;
    background-color: $black;
    font-family: "Suisse Intl", serif;
    font-size: 12px;
    padding: 0 10px;
    height: 22px;
    line-height: 22px;
    margin-right: 5px;
    margin-bottom: 8px;

    svg {
      position: relative;
      top: 3px;
      padding: 0 5px;
    }

    .SelectedFacetRemove {
      display: inline-flex;

      &:hover {
        cursor: pointer;
      }

      svg {
        padding-right: 0;
        padding-left: 5px;
      }
    }
  }
}

.BreadcrumbInverseWrapper {
  border-top: 2px solid $background;
  border-bottom: 2px solid $background;
  background-color: $black;

  .BreadcrumbContent {
    color: $white;

    .SelectedFacets {

      .SelectedFacetButton {
        color: $black;
        background-color: $white;
      }
    }
  }
}




