@import "../../../../styles/variables";

.Drawer {
  width: 50%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 100px;
  align-self: flex-start;

  &.Mobile {
    left: 0;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: $background;
    position: fixed;
    z-index: 20;
    transition: left 0.5s ease;

    &.Closed {
      left: -100vw;
    }
  }
}

.Window {
  margin-bottom: 20px;
  max-height: calc(100vh - (#{$header-height} + #{$breadcrumb-height}));
  overflow-y: scroll;

  .CloseButton {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 20px;
    height: 20px;
    color: $black;

    span {
      display: block;
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: $black;
      left: 0;
    }

    span:nth-child(1) {
      top: 10px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    span:nth-child(2) {
      top: 10px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}

.ArchivalUnitData {
  .Header {
    border-bottom: 2px solid $black;
    padding: 15px 20px;

    h1 {
      padding: 0;
      font-family: "Suisse Intl Condensed", serif;
      font-size: 26px;
      font-weight: 400;
    }

    .Buttons {
      margin-top: 10px;
      display: flex;
      gap: 10px;
    }
  }

  .Row {
    padding: 10px 20px;
    display: flex;
    gap: 10px;
    border-bottom: 2px solid $data-line;
  }

  .Row:last-child {
    padding: 10px 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    border-bottom: 2px solid $black;
  }

  .Category {
    font-family: "Suisse Intl Condensed", serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    min-width: 120px;
    vertical-align: top;
  }

  .Label {
    font-family: "Suisse Works", serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    vertical-align: top;
  }

  .Text {
    font-family: "Suisse Intl", serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    vertical-align: top;
  }
}

.Info {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;

  .InfoFace {
    font-family: 'Suisse Intl Mono', serif;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
  }

  .InfoMainText {
    font-family: 'Suisse Intl Mono', serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
  }

  .InfoText {
    margin-top: 30px;
    font-family: 'Suisse Intl', serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
  }
}

