@import "_variables.scss";

div.fullpage {
  div.openseadragon-canvas {
    canvas {
      background-color: $form-background !important;
    }
  }
}

div.clover-iiif {
  div[role="radiogroup"] {
    button[type="button"] {
      figcaption {
        span {
          font-family: "Suisse Intl", serif;
          font-size: 14px;
        }
      }
    }

    button[aria-checked="true"] {
      figure {
        div:before {
          font-family: "Suisse Intl Condensed", serif;
        }
      }
    }

    button[data-state="checked"] {
      figcaption {
        span {
          font-weight: 800;
        }
      }
    }
  }


  div.clover-canvases {
    div {
      div {
        div {
          background-color: $disabled-label;

          button {
            display: unset;
            background-color: $black;
          }

          span {
            font-family: "Suisse Intl Condensed", serif;
          }
        }

        button {
          display: none;
        }
      }
    }
  }
}