@import "_variables.scss";

div.fullpage {
  div.openseadragon-canvas {
    canvas {
      background-color: $form-background !important;
    }
  }
}

div.clover-iiif {
  div.clover-canvases {
    div {
      div {
        div {
          background-color: $disabled-label;

          button {
            display: unset;
            background-color: $black;
          }
        }

        button {
          display: none;
        }
      }
    }
  }
}