@import "_variables.scss";

// IIIF Viewer FullScreen
div[data-testid="instance-container"] {
  background-color: $button-background;
}

div[data-testid="toolbar-wrapper"] {
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 10;

  .osrv-toolbar-button {
    position: relative;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    margin-right: 5px;
    background-color: $black;

    &:hover {
      background-color: $yellow;
    }
  }

  button[data-testid="zoom-in"] {
    &::after {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      width:25px;
      height:25px;
      background: linear-gradient(#FFF 0 0), linear-gradient(#FFF 0 0);
      background-position:center;
      background-size: 50% 1px,1px 50%; /*thickness = 2px, length = 50% (25px)*/
      background-repeat:no-repeat;

    }

    &:hover::after {
      background: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
      background-position:center;
      background-size: 50% 1px,1px 50%; /*thickness = 2px, length = 50% (25px)*/
      background-repeat:no-repeat;
    }

    svg {
      display: none;
    }
  }

  button[data-testid="zoom-out"] {
    &::after {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      width:25px;
      height:25px;
      background: linear-gradient(#FFF 0 0);
      background-position:center;
      background-size: 50% 1px,1px 50%; /*thickness = 2px, length = 50% (25px)*/
      background-repeat:no-repeat;

    }

    &:hover::after {
      background: linear-gradient(#000 0 0);
      background-position:center;
      background-size: 50% 1px,1px 50%; /*thickness = 2px, length = 50% (25px)*/
      background-repeat:no-repeat;
    }

    svg {
      display: none;
    }
  }

  button[data-testid="full-page"] {
    svg {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 15px;
      height: 15px;
    }

    &:hover svg path {
      fill: $black;
    }
  }

  button[data-testid="previous"] {
    &::after, &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      left: 5px
    }

    &::after {
      width: 8px;
      height: 8px;
      border-bottom: 1px solid;
      border-left: 1px solid;
      transform: rotate(45deg);
      bottom: 8px
    }

    &::before {
      width: 16px;
      height: 1px;
      bottom: 12px;
      background: currentColor
    }

    &:hover::after {
      border-bottom: 1px solid $black;
      border-left: 1px solid $black;
    }

    &:hover::before {
      background: $black;
    }

    svg {
      display: none;
    }
  }

  button[data-testid="next"] {
    &::after, &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      left: 5px
    }

    &::after {
      width: 8px;
      height: 8px;
      border-top: 1px solid;
      border-right: 1px solid;
      transform: rotate(45deg);
      bottom: 8px;
      left: 12px;
    }

    &::before {
      width: 16px;
      height: 1px;
      bottom: 12px;
      background: currentColor
    }

    &:hover::after {
      border-top: 1px solid $black;
      border-right: 1px solid $black;
    }

    &:hover::before {
      background: $black;
    }

    svg {
      display: none;
    }
  }
}

.openseadragon-container .navigator {
  border: none !important;
}


