$black: #000000;
$data-line: #BFBFBF;
$form-background: #BFBFBF;
$disabled-label: #666;
$background: #EEE;
$button-background: #808080;
$white: #FFF;
$yellow: #FFEB42;

// VERSION A
$max-width: 1440px;
$left-width: 264px;
$facet-width: 366px;
$search-width: 450px;
$results-width: 220px;

$border-width: 1px;

// VERSION B
/*
$max-width: 1200px;
$left-width: 264px;
$facet-width: 264px;
$search-width: 300px;
$results-width: 220px;
 */

$header-height: 57px;
$breadcrumb-height: 42px;
$page-title-height: 97px;
$footer-height: 116px;

$header-height-mobile: 90px;
$footer-height-mobile: 145px;
$result-counter-height-mobile: 120px;
