$black: #000000;
$data-line: #BFBFBF;
$form-background: #BFBFBF;
$disabled-label: #666;
$background: #EEE;
$button-background: #808080;
$white: #FFF;
$yellow: #FFEB42;

$left-width: 264px;
$max-width: 1180px;

$header-height: 57px;
$header-height-mobile: 90px;
$breadcrumb-height: 44px;
$page-title-height: 97px;
$footer-height: 116px;
$footer-height-mobile: 145px;
