$black: #000000;
$data-line: #BFBFBF;
$form-background: #BFBFBF;
$disabled-label: #666;
$background: #EEE;
$button-background: #808080;
$white: #FFF;
$yellow: #FFEB42;

$left-width: 264px;
$max-width: 1180px;
