@import "_variables.scss";
@import "_fonts.scss";
@import "_openseadragon.scss";
@import "_tippy.scss";

#__next {
  // height: 100%;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  font-family: 'Suisse Works', serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: $background;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  min-height: 100% !important;
  height: 100vh;
}

p {
  margin-block-start: 15px;
  margin-block-end: 15px;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}
