@import "../../../styles/variables";

.ImageGalleryPage {
  display: flex;
  min-height: calc(100vh - #{$header-height} - #{$breadcrumb-height} - #{$footer-height});

  .ImageGalleryThumbnails {
    flex: 4;
    border-right: 1px solid $black;

    .FilterBar {
      display: flex;
      height: 35px;
      border-bottom: 1px solid $black;
      position: sticky;
      position: -webkit-sticky;
      top: calc(#{$header-height} + #{$breadcrumb-height});
      z-index: 10;
      background-color: $background;
    }
  }

  .ImageGalleryViewer {
    margin: 0;
    flex: 3;

    .Content {
      position: sticky;
      top: calc(#{$header-height} + #{$breadcrumb-height});
    }
  }
}