@import "../../../../styles/variables";

.WelcomeWrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    border-bottom: 2px solid $black;

    .Content {
        padding: 15px;
    }

    h1 {
        font-family: "Suisse Intl Condensed", serif;
        font-size: 30px;
        font-weight: 400;
        margin: 0px;
    }

    p {
        font-family: "Suisse Intl", serif;
        font-weight: 400;
        font-size: 16px;
    }

    a {
        color: $black;
        text-decoration: none;
        border-bottom: 1px dotted;
    }

    a:hover {
        border-bottom: 1px solid;
    }
}