@import "../../../../../../styles/variables";

.InfoWrapper {
  .InfoSheet {
    display: flex;

    h2 {
      font-family: "Suisse Intl Condensed", serif;
      font-size: 18px;
      font-weight: 400;
    }

    p {
      font-family: "Suisse Intl", serif;
      font-size: 16px;
    }

    .Image {
      display: flex;
      justify-content: flex-end;
      width: 500px;
    }

    .Data {
      padding-bottom: 10px;
      padding-left: 20px;
      flex: 1;

      .DataSource {
        margin-top: 10px;
        font-style: italic;
        font-size: 12px;
      }

      p {
        margin: 0;
      }
    }

    .Map {
      margin-top: 0;
      width: 500px;
      border-right: $border-width solid $black;
    }
  }
}

.Button {
  cursor: pointer;
  margin-top: 10px;
  height: 25px;
  border-radius: 12px;
  background-color: $black;
  color: $white;
  text-align: center;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  width: auto;
  padding-left: 5px;

  .Text {
    text-align: center;
    color: $white;
    font-family: 'Suisse Intl', serif;
    font-size: 10px;
    line-height: 25px;
    padding: 0 10px 0 2px;
    text-transform: uppercase;
  }
}

.Button:hover {
  background-color: $yellow;
  color: $black;

  .Text {
    color: $black;
  }
}

.Button img {
  margin: 0 auto;
}